---

name: Release Drafter

on:
  push:
    branches: [ main ]

permissions:
  contents: read

jobs:
  update_release_draft:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: release-drafter/release-drafter@6df64e4ba4842c203c604c1f45246c5863410adb
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

...
